.SearchInput {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 10px 20px;
    margin: 5px 1px 3px 0px;
    border-radius: 6px;
    border: 1px solid #F9F4F5;
}

.SearchInput:focus{
    box-shadow: 0 0 5px #705870;
    padding: 10px 20px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #705870;
}